body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: 3px solid gray;
  background-color: aliceblue;
  border-radius: 12px;
  padding: 20px;
  font-size: 20px;
}

.digits {
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.pulse {
  animation: pulse 0.95s 16;
}

@keyframes pulse {
  0% {
    color: #400000;
  }
  100% {
    color: red; 
  }
}