body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digits {
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80px;
}

.redDigit {
  color: red;
}